@model Cliente

@{
    ViewData["Title"] = "ModificaCliente";
}

<h1>Mdifica Cliente</h1>
<hr />

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col">
                ID Cliente:
            </div>
            <div class="col">
                <input type="text" name="id" value="@Model.IdCliente" readonly required />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                Nome:
            </div>
            <div class="col">
                <input type="text" name="nome" value="@Model.Nome" />
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                Cognome:
            </div>
            <div class="col">
                <input type="text" name="cognome" value="@Model.Cognome" />
            </div>
        </div>
    </div>
   
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <input type="submit" value="Salva" />
            </div>
        </div>
    </div>
</form>
